# 가중 평균

In [1]:
import pandas as pd
import os

In [3]:
one_lgb = pd.read_csv(os.path.abspath("../input")+'/submissions_0613_zi_ha_scaled_lgbm_tun.csv')

In [4]:
two_lgb = pd.read_csv(os.path.abspath("../input")+'/submissions_0613_hyun_ha_scaled_lgbm_tun.csv')

In [5]:
three_lgb = pd.read_csv(os.path.abspath("../input")+'/submissions_0613_jin_ha_scaled_lgbm_tun.csv')

In [6]:
vr1 = pd.read_csv(os.path.abspath("../input")+'/submissions_0615_zi_min_select_vr_tun.csv')

In [7]:
vr2 = pd.read_csv(os.path.abspath("../input")+'/submissions_0615_hyun_min_select_vr_tun.csv')

In [12]:
dnn = pd.read_csv(os.path.abspath("../input")+'/5. dnn_submission_8.15961.csv')

In [11]:
sub_en_ha_min_all = pd.DataFrame(one_vr['custid'])

In [28]:
sub_en_ha_min_all['age'] =  ((( one_lgb['age'] + two_lgb['age'] + three_lgb['age'] )/3)*0.8 + (( vr1['age'] + vr2['age'] )/2)*0.2 )*0.8 + dnn['age']*0.2

In [30]:
sub_en_ha_min_all.to_csv('061505sub_en_ha_min_all.csv', index = False )

# Power Mean

In [29]:
p = 1
pred = 0
n = 0
for i in range(N):
    pred = pred + preds[i]**p 
    n += 1
pred = pred / n    
pred = pred**(1/p)

In [12]:
jeong = one_lgb['age'] + two_lgb['age'] + three_lgb['age']

In [13]:
minseok = vr1['age'] + vr2['age']

In [14]:
pro = dnn['age']

In [133]:
lst = [list(min_lgb['age']),list(two_lgb['age']),list(three_lgb['age']), list(vr1['age']), list(vr2['age']), list(dnn['age'])
      #list(min_vr["age"]), list(min_lgb["age"])
      ]

In [134]:
df = pd.DataFrame(lst).T

In [135]:
co = df.corr(method = "pearson")

In [136]:
co

          0         1         2         3         4         5
0  1.000000  0.941257  0.941937  0.951497  0.963489  0.923191
1  0.941257  1.000000  0.953895  0.938519  0.946360  0.925373
2  0.941937  0.953895  1.000000  0.935490  0.937139  0.941516
3  0.951497  0.938519  0.935490  1.000000  0.954559  0.938832
4  0.963489  0.946360  0.937139  0.954559  1.000000  0.918768
5  0.923191  0.925373  0.941516  0.938832  0.918768  1.000000

In [71]:
def check_p(max_value,min_value):
    i = 1
    while True:
        if(max_value ** i)>min_value:
            i = i+0.01
        else:
            break
    return i

In [33]:
p = check_p(0.965145,0.918768)

In [34]:
def many_p(p):
    return p**(1/2),p**(1/2)*p

In [35]:
many_p(p)

(1.5459624833740282, 3.694850335263916)

In [37]:
import numpy as np

In [46]:
p = 2.39

In [45]:
lst = [list(one_lgb['age']),list(two_lgb['age']),list(three_lgb['age']), list(vr1['age']), list(vr2['age']), list(dnn['age'])]

In [47]:
preds = lst
pred_mean = (np.sum(np.array(preds)**p, axis=0) / len(lst))**(1/p)

In [51]:
muk = pd.DataFrame({"custid":one_lgb.custid,
             "age":pred_mean})

In [53]:
muk.to_csv("sub_muk01.csv",index = False)

In [54]:
pd.read_csv("sub_muk01.csv")

       custid        age
0       30001  38.412492
1       30002  42.505544
2       30003  26.830280
3       30005  31.080838
4       30007  25.126401
...       ...        ...
14375   49988  34.838250
14376   49990  34.418476
14377   49992  36.149411
14378   49993  33.413939
14379   49994  27.701541

[14380 rows x 2 columns]

# 최종 submission

In [15]:
dream = (pd.read_csv(os.path.abspath("../input")+"/sub_muk01.csv").age +  pd.read_csv(os.path.abspath("../input")+'/061505sub_en_ha_min_all.csv').age)/2

In [126]:
dream_come_true = pd.DataFrame({"custid":one_lgb.custid,
                     "age": dream})

In [127]:
dream_come_true.to_csv("dream_come_true.csv",index = False)

In [128]:
pd.read_csv("dream_come_true.csv")

       custid        age
0       30001  38.182679
1       30002  42.552213
2       30003  26.910643
3       30005  31.074756
4       30007  25.248198
...       ...        ...
14375   49988  34.698607
14376   49990  34.311184
14377   49992  35.984124
14378   49993  33.462444
14379   49994  27.654802

[14380 rows x 2 columns]